.input-group-text{
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  color: #607997;
}
.form-control{
  border-color: #FFFFFF;
  background-color: #FFFFFF;
}
.form-control:focus {
  border-color: #FFFFFF !important;
  box-shadow: 0 0 0 !important;
  /*box-shadow: 2px 2px 1px #F5B399 !important;*/
}

.navbar{
  background-color: #FFFFFF;
  border-radius: 10px;
}
.bi-box-arrow-right{
  color: #607997;
  width: fit-content;
}
.rounded-circle{
  width: 10%;
  height: auto;
}
.user{
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
.user-name{
  margin: 0;
  width: fit-content;
}
