<div class="container">

  <div class="row row-padding">
    <div class="col-12 card">
      <div class="row card-title-row">
        <div class="card-title col-5 m-0">Статистика</div>
        <div class="card-title-description col-6 m-0">зарегистрировано за все время</div>
      </div>
      <div class="row card-body">
        <div class="col-4 card-body-item">
          <div class="col-24 m-0">
            <img src="./assets/display.svg" class="card-img">
          </div>
          <div class="col-8 m-0">
            <p class="character">675</p>
            <p class="description">Конечные устройства</p>
          </div>
        </div>
        <div class="col-4 card-body-item border">
          <div class="col-24 m-0">
            <img src="./assets/hdd-stack.svg" class="card-img">
          </div>
          <div class="col-8 m-0">
          <p class="character">375</p>
          <p class="description">Виртуальные сервера</p>
          </div>
        </div>
        <div class="col-4 card-body-item">
          <div class="col-24 m-0">
            <img src="./assets/hdd.svg" class="card-img">
          </div>
          <div class="col-8 m-0">
            <p class="character">645</p>
            <p class="description">Маршрутизаторы</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-padding">
    <div class="col-5 card col-wrap">
      <app-list></app-list>
    </div>
    <div class="col-7 cards-group col-wrap">
      <div class="row row-padding">
        <div class="col-12 card">
          <div class="row card-title-row">
            <div class="card-title col-5 m-0">Изменение настроек ACL</div>
            <div class="card-title-description col-6 m-0">Соответствуют &nbsp; Не соответствуют</div>
          </div>
          <div class="img-wrap">
            <!--<img>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 card">
          <div class="row card-title-row">
            <div class="card-title col-5 m-0">Хостов пришло</div>
            <div class="card-title-description col-6 m-0">за все время</div>
          </div>
          <div class="img-wrap">
            <!--<img>-->
          </div>
        </div>
        <div class="col-6 card rounded">
          <div class="row card-title-row">
            <div class="card-title col-5 m-0">Хостов ушло</div>
            <div class="card-title-description col-6 m-0">за все время</div>
          </div>
          <div class="img-wrap">
            <!--<img>-->
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<div class="row row10">
    <div class="col-5 card">
      <app-list></app-list>
    </div>
    <div class="col-7 col12">
      <div class="row card">

      </div>
      <div class="row">
        <div class="col-6 card">

        </div>
        <div class="col-6 card">

        </div>
      </div>
    </div>
  </div>-->


</div>
